html {
  scroll-behavior: smooth;
  background-color: #050505; /* Keeps the whole page dark */
}

/* Common Section Title Style */
.section-title {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 2rem;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}